{% extends "layout.html" %}

{% block body %}
{% if sentences|length > 0 %}
<a href="/">Click here to see translated text!</a></br></br>
<a href="/translate">Click here to Translate another text!</a>
{% endif %}
{% if sentences|length == 0 %}
    <p> There are no sentences right now!, <a href="/translate">Click here to ADD!</a></p>
{% else %}
    <h1>Actual Text</h1> 
        <ul>
            {% for sentence in sentences %}
                <li> {{ sentence }}</li>
            {% endfor %}
        </ul>
{% endif %}
{% endblock %}